
*{
    margin: 0;
    padding: 0;
}

.header-container{
    margin-top: 30px;
    margin-bottom: 60px;
}

.wallet{
    width: 56px;
    height: 75px;
    border-radius: 35px;
    margin: 10px;
    padding: 10px;
    margin-right: 12px;
}
.item-svg-icon{
    width: 56px;
}

.card-items{
    /* display: flex;
    gap: 50px; */
}

.money-card{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-between;
}


.card-section{
    display: flex;
    align-items: center;
}

.transaction-card{
    width: 500px;
    height: 500px;
}

.history-card{
    width: 500px;
    height: 500px;
}



@media screen and (max-width: 768px) {
   
    body {
      font-size: 14px;
    }

    .header-container{
        font-size: 14px;
    }
    
    .transaction-card{
        min-width: max-content;
        height: 500px;
    }
    
    .history-card{
        min-width: max-content;
        height: 500px;
        background-color: green;
    }
    
    /* Add more CSS rules as needed */
  }